.yotiVerified {
  margin-top: 10px;
  margin-bottom: 50px;
}

.yotiVerified img {
  width: 50px;
}

.yotiVerified span {
	position: relative;
	top: 2px;
	font-weight: 700;
	margin-left: 4px;
}

.customTip {
 color: #fff !important;
 background-color: #41a6df !important;
 opacity: 0.99 !important;
 margin-top: -12px !important;
 padding: 10px 21px 13px !important;
}

.customTip:after {
 border-top-color: #41a6df !important;
 border-top-width: 7px !important;
}

.verifiedImg {
  width: 17px !important;
  margin-left: 3px;
  position: relative !important;
  bottom: 2px !important;
}
